/* General Styles */
body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: #2e2e2e; /* Dark background similar to the photo */
    color: #333;
    margin: 0;
    padding: 0;
}

a {
    color: #d2691e; /* Warm brown similar to the croissant */
    text-decoration: none;
    transition: color 0.3s;
}

a:hover {
    color: #b45f04; /* Slightly darker warm brown */
    text-decoration: underline;
}

/* Header */
.header {
    background: linear-gradient(135deg, #d2691e, #e97451); /* Warm gradient similar to croissant layers */
    color: white;
    text-align: center;
    padding: 40px 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.header h1 {
    font-size: 2.5em;
    margin: 0;
}

/* Main Content */
.main-content, .extra-content {
    padding: 20px;
    max-width: 800px;
    margin: 20px auto;
    background-color: #fff5e1; /* Light, warm background */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

/* Croissant Image */
.croissant-image {
    width: 100%;
    max-width: 600px;
    display: block;
    margin: 20px auto;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

/* Video Container */
.video-container {
    text-align: center;
    margin: 20px 0;
    overflow: hidden;
}

.video-container iframe {
    border: 0;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

/* Tableau Container */
.tableau-container {
    text-align: center;
    margin: 20px 0;
    overflow: hidden;
}

.tableau-container object {
    border: 0;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

/* Anchors */
.anchors {
    text-align: center;
    margin: 20px 0;
}

.extra-content {
    margin-bottom: 100px; /* Increase bottom margin to create space for the footer */
}

/* Footer */
.footer {
    background-color: #d2691e; /* Warm brown background */
    color: rgb(255, 255, 255);
    text-align: center;
    padding: 20px;
    position: fixed;
    width: 100%;
    bottom: 0;
    box-shadow: 0 -4px 6px rgba(0, 0, 0, 0.1);
}

.footer a {
    color: white; 
    text-decoration: none;
}

/* Headings */
h1, h2 {
    font-family: 'Merriweather', serif;
    color: #333;
}

h1 {
    font-size: 2.5em;
}

h2 {
    font-size: 1.8em;
    margin-top: 0;
}

/* Lists */
ol {
    margin-left: 20px;
}

ul {
    margin-left: 40px;
    list-style-type: disc;
}

/* Buttons */
button {
    background-color: #d2691e; /* Warm brown background */
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 1em;
}

